{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spam Detector</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="https://dansup.github.io/bulma-templates/css/forum.css">

    <link rel="stylesheet" type="text/css" href="https://dansup.github.io/bulma-templates/css/admin.css">
  </head>
  <body>
    <nav class="navbar is-white topNav">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="/">Home</a>
          <div class="navbar-burger burger" data-target="topNav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="topNav" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/dashboard">Dashboard</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                {% if user.is_authenticated %}
                <p class="control">
                  <a href="/accounts/logout" class="button is-small">
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>
                      Logout
                    </span>
                  </a>
                </p>
                {% endif %}
                {% if not user.is_authenticated %}
                <p class="control">
                  <a href="/login/google-oauth2" class="button is-small is-info is-outlined">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="columns is-mobile is-centered">
            <div style="display: flex; flex-direction: column; justify-content: center; text-align: center;"class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons" style="justify-content: center;">
                  <span class="tag is-light">CSS Template by Daniel Supernault</span>
                </div>
              </div>
              <div class="control">
                <div class="tags has-addons" style="justify-content: center;">
                  <span class="tag is-light">aakatev 2018 &nbsp;<i class="fas fa-code-branch"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      // The following code is based off a toggle menu by @Bradcomp
      // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
      (function() {
          var burger = document.querySelector('.burger');
          var menu = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function() {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
      })();
    </script>
  </body>
</html>